<div class="center jumbotron">
  <h1>About Leaderboard</h1>

  <p>Inspired by <a href="https://www.freecodecamp.com/challenges/build-a-camper-leaderboard", target="_blank">this Free Code Camp challenge</a>. If you are a Free Code Camp Fargo member, add your username <%=link_to "here", new_camper_path, target: "_blank" %>! Keep working through Free Code Camp's challenges to work your way to the top.</p>

  <%= link_to "Join The Fargo Campsite", "https://www.facebook.com/groups/free.code.camp.fargo/", target: "_blank", class: "btn btn-lg btn-primary"%>
</div>
