<td class="one">
  <%=rank%>
</td>
<td>
  <%=image_tag(camper.avatar,  width: '50', alt: "camper avatar")%>
</td>
<td>
  <span><%= link_to camper.fcc_username, camper.fcc_url, :target => "_blank" %></span>
</td>

<td>
  <%=camper.points || "0"%>
</td>
