<section class="jumbotron text-xs-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%=link_to "Free Code Camp", href="http://www.freecodecamp.com", target: "_blank"%>
 | <%= link_to "Fargo, ND", "https://www.facebook.com/groups/free.code.camp.fargo/", target: "_blank"%>
</h1>
        <p class="lead text-muted">Unofficial Fargo area leaderboard. Updated daily. <%= link_to "Add your Free Code Camp username!", new_camper_path%>
</p>
    </div>
</section>
<section class="board">
      <table class="table table-responsive table-striped">
        <thead class="thead-default">
            <tr>
                <th>Rank</th>
                <th></th>
                <th>Username</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <% @ranks_and_campers.each do |rank, campers| %>
            <%campers.each do |camper|%>
            <tr>
                <%= render :partial => camper, :locals => {:rank => rank} %>
            </tr>
            <%end%>
            <% end %>
        </tbody>
    </table>
  </section>
