<h1>New Fargo Free Code Camp Member</h1>
<%= form_for @camper, controller: 'attractions', action: 'create' do |f| %>
  <div class="form-group field">
    <%= f.label :fcc_username, "What is your Free Code Camp username?" %> <br>
    <%= f.text_field :fcc_username %>
  </div>
  <p>
    If you need help finding your Free Code Camp username, check out <a href="http://goo.gl/01kI5A", target="_blank">this Google doc</a>.
  </p>
  <div class="actions form-group">
    <%= f.submit "Add Me to Fargo Leaderboard", :class => 'btn btn-primary' %>
  </div>

<% end %>
