<h1><%= link_to @camper.fcc_username, @camper.fcc_url, :target => "_blank" %>'s Free Code Camp Stats</h1>
<ul>
  <li>Overall points: <%=@camper.points%></li>
  <li>Most recent project: <%=link_to "Build a tribute page", "http://codepen.io/kaileeagray/pen/vLqEmz%", :target => "_blank" %></li>
</ul>
