<footer class="footer">
  <small>Free Code Camp Fargo, ND Leaderboard by <a href="https://github.com/kaileeagray", target="_blank">Kailee Gray</a></small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Facebook", "https://www.facebook.com/groups/free.code.camp.fargo/", target: "_blank"%></li>
    </ul>
  </nav>
</footer>
